<!DOCTYPE html>
<html lang=zh-CN>
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords" content="关注信息技术,关心程序研发">
  
    <link rel="icon" href="/favicon.ico">
  
  
  <title>Adam&#39;s byte</title>
  <meta name="description" content="个人技术研究站">
  
<link rel="stylesheet" href="/style.css">

  
<link rel="stylesheet" href="/lib/jquery.fancybox.min.css">

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!--统计-->
<!-- <script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script> -->
<!-- <script>LA.init({id:"3ExycyMbRG3eXZIm",ck:"3ExycyMbRG3eXZIm",autoTrack:true,hashMode:true})</script> -->


<meta name="generator" content="Hexo 6.3.0"></head>

<body>
  <header>
  <div class="header-container">
    <a class='logo' href="/">
      <span>Adam's byte</span>
    </a>
    <ul class="right-header">
      
        <li class="nav-item">
          
            <a href="/" class="item-link">首页</a>
          
        </li>
      
        <li class="nav-item">
          
            <a href="/navi/" class="item-link">导航</a>
          
        </li>
      
        <li class="nav-item">
          
            <a href="/about/" class="item-link">关于</a>
          
        </li>
      
        <li class="nav-item">
          
            <a href="/archives/" class="item-link">文章</a>
          
        </li>
      
        <li class="nav-item">
          
            <a href="/tags/" class="item-link">标签</a>
          
        </li>
      
    </ul>
  </div>
    <!--顶部加载条-->
    <script src="/js/pace.min.js"></script>
    <link href="/css/pace-theme-flash.css" rel="stylesheet">
    <style>
        .pace .pace-progress {
            background: #1E92FB; /*进度条颜色*/
            height: 3px;
        }
        .pace .pace-progress-inner {
             box-shadow: 0 0 10px #1E92FB, 0 0 5px     #1E92FB; /*阴影颜色*/
        }
        .pace .pace-activity {
            border-top-color: #1E92FB;    /*上边框颜色*/
            border-left-color: #1E92FB;    /*左边框颜色*/
        }
    </style>
    <!--顶部加载条完-->
</header>

  <main id='post'>
  <div class="content">
    <article>
      <section class="content markdown-body">
        <h1>
          无标题
        </h1>
        <div class='post-meta'>
          <i class="fa fa-calendar"
            aria-hidden="true"></i> <time>
            2023年03月23日</time>
          
          
        </div>
        <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>导航</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.37/dist/vue.global.js"></script>
    <script type="module" src="a.js"></script>
    <style>
        @media screen and (min-width: 768px){
            body{
                background-color: #0d95e8;
            }
        }
    </style>
</head>
<body>

<div id="app">
    <div v-for="item in items" class="item">
        <div class="card" @click="go(item)">
            <img class="icon" :src="item.icon">
            <h5 class="title" :content="item.title"></h5>
            <i class="link-icon">
                <img class="link" src="./link.svg">
            </i>
        </div>
        <div class="desc"></div>
    </div>
</div>

<script>
    const app = Vue.createApp({
        data() {
            return {
                items: [
                    {
                        title: 'Twitter',
                        desc: '看世界上的新鲜事',
                        icon: 'https://files.codelife.cc/website/twitter.svg',
                        link: 'https://twitter.com'
                    },
                    {
                        title: 'Twitter2',
                        desc: '看世界上的新鲜事',
                        icon: 'https://files.codelife.cc/website/twitter.svg',
                        link: 'https://twitter.com'
                    },
                ]
            }
        },
        methods: {
            go: function (item){
                window.location.href = item.link
            }
        }
    });
    const vm = app.mount('#app')
</script>
</body>
</html>

      </section>
    </article>
    
    <!-- disqus 评论框 start -->
    <div class="comment">
      <div id="disqus_thread"
        class="disqus-thread">
          <script src="https://giscus.app/client.js"
                  data-repo="yaodwwy/giscus"
                  data-repo-id="R_kgDOGeYRAg"
                  data-category="General"
                  data-category-id="DIC_kwDOGeYRAs4CAIVU"
                  data-mapping="pathname"
                  data-reactions-enabled="1"
                  data-emit-metadata="1"
                  data-theme="light"
                  data-lang="zh-CN"
                  crossorigin="anonymous"
                  async>
          </script>
      </div>
    </div>
    <!-- disqus 评论框 end -->
    
    
  </div>
  
  <aside>
    <div class="toc-container">
      <h1>
        目录
      </h1>
      <div class="content">
        <ol class="toc"><li class="toc-item toc-level-5"><a class="toc-link" href="#app"><span class="toc-number">1.</span> <span class="toc-text"></span></a></li></ol>
      </div>
    </div>
  </aside>
    
</main>
<!-- disqus 公共JS代码 -->



  <footer>
  <div class="copyright">
    <p>
      Copyright© 2019-2025 adbyte.cn All Rights Reserved.
    </p>
  </div>
</footer>



</body>
</html>
