<!DOCTYPE html>
<html lang=zh-CN>
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords" content="关注信息技术,关心程序研发">
  
    <link rel="icon" href="/favicon.ico">
  
  
  <title>收藏夹 | Adam&#39;s byte</title>
  <meta name="description" content="个人技术研究站">
  
<link rel="stylesheet" href="/style.css">

  
<link rel="stylesheet" href="/lib/jquery.fancybox.min.css">

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!--统计-->
<!-- <script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script> -->
<!-- <script>LA.init({id:"3ExycyMbRG3eXZIm",ck:"3ExycyMbRG3eXZIm",autoTrack:true,hashMode:true})</script> -->


<meta name="generator" content="Hexo 6.3.0"></head>

<body>
  <header>
  <div class="header-container">
    <a class='logo' href="/">
      <span>Adam's byte</span>
    </a>
    <ul class="right-header">
      
        <li class="nav-item">
          
            <a href="/" class="item-link">首页</a>
          
        </li>
      
        <li class="nav-item">
          
            <a href="/navi/" class="item-link">导航</a>
          
        </li>
      
        <li class="nav-item">
          
            <a href="/about/" class="item-link">关于</a>
          
        </li>
      
        <li class="nav-item">
          
            <a href="/archives/" class="item-link">文章</a>
          
        </li>
      
        <li class="nav-item">
          
            <a href="/tags/" class="item-link">标签</a>
          
        </li>
      
    </ul>
  </div>
    <!--顶部加载条-->
    <script src="/js/pace.min.js"></script>
    <link href="/css/pace-theme-flash.css" rel="stylesheet">
    <style>
        .pace .pace-progress {
            background: #1E92FB; /*进度条颜色*/
            height: 3px;
        }
        .pace .pace-progress-inner {
             box-shadow: 0 0 10px #1E92FB, 0 0 5px     #1E92FB; /*阴影颜色*/
        }
        .pace .pace-activity {
            border-top-color: #1E92FB;    /*上边框颜色*/
            border-left-color: #1E92FB;    /*左边框颜色*/
        }
    </style>
    <!--顶部加载条完-->
</header>

  <main id='post'>
  <div class="content">
    <article>
      <section class="content markdown-body">
        <h1>
          收藏夹
        </h1>
        <div class='post-meta'>
          <i class="fa fa-calendar"
            aria-hidden="true"></i> <time>
            2024年12月09日</time>
          
          
        </div>
        <link rel="stylesheet" href="index.css">

<div id="app">
    <div v-for="item in items" class="item">
        <a class="card" :href="item.link">
            <img class="icon" :title="item.desc" :src="item.icon" :style="item.style">
            <i class="link-icon">
                <img class="link" src="./link.svg" width="16" style="background-color: transparent">
            </i>
        </a>
        <div class="desc" v-text="item.desc" :title="item.desc"></div>
    </div>
</div>

<script src="./vue.global.prod.min.js"></script>
<script src="./data.js"></script>
<script>
const app = Vue.createApp({
    data() {
        return data
    },
    methods: {
        go: function (item) {
            window.location.href = item.link
        }
    }
});
const vm = app.mount('#app')
</script>
<script src="./weather.js"></script>



      </section>
    </article>
    
    
  </div>
  
</main>
<!-- disqus 公共JS代码 -->



  <footer>
  <div class="copyright">
    <p>
      Copyright© 2019-2025 adbyte.cn All Rights Reserved.
    </p>
  </div>
</footer>



</body>
</html>
